body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

center {
    margin-top: 50px;
}

h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
